<a href="https://colab.research.google.com/github/saadali112/CS-351L---AI-Lab-GitHub-Repository_2022512/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import numpy as np
array = np.arange(1,10)
result = array*5
print(f"{result}")

[ 5 10 15 20 25 30 35 40 45]

In [11]:
age= 21
name ="saad"
height= 5.9
student= "giki"

print(age)
print(name)
print(height)
print(student)

21
saad
5.9
giki

In [12]:
for i in range(1,5):
  print(i)

1
2
3
4

In [21]:
fruits = ("apple", "banana", "cherry")

for fruit in fruits:
    print("f:",fruit)

f: apple
f: banana
f: cherry

In [15]:
counter = 1

while counter <= 3:
    print("Counter:", counter)
    counter += 1

1
2
3

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt